body 
{
    background-image:url("./images/bg.png");
    font-family: sans-serif;
}
#navigation
{
    width: fit-content;
    height: auto;
    font-size: 20px;
    position: fixed;
    color: white;
    background-color: black;
    padding: 2px 5px 2px 5px;
    margin-top: 340px;
    margin-right: auto;
    margin-left: 800px;
    border-radius: 0px 0px 5px 5px;
    z-index: 10;
}
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
  color: #B63514;
}
.aktiv{
    color: #B63514;
}
.format
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.kreis {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #B63514; 
    margin-top: -350px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.kreisinhalt
{
    padding-top: 190px;
}
#kreisueberschrift1 
{
    color: white;
    letter-spacing: -18px;
    text-align: center;
    font-size: 200px;
    margin-bottom: -110px;
}
.kreisueberschrift2
{
    color:white;
    font-size: 65px;
    padding-left: 345px;
    letter-spacing: -3px;
    margin-bottom: -15px;  
}
#kreistext
{
    color:white;
    font-size: 14px;
    padding-left: 350px;
}
#facebook
{
    padding-left: 350px;
    opacity: 60%;
}
#facebook:hover
{
    opacity: 100%;
}
.ueberschrift2 {
    color: #B63514;
}
.images 
{
    display: block;
    width: auto;
    padding: 5px 0px 0px 0px;
}
.videos 
{ 
    display: block;
    width: auto; 
    padding: 5px 0px 0px 0px;
}
input
{
    background-color: gray;
    border: none;
    width: 200px;
    margin-top: 5px;
    padding: 5px;

}
input::placeholder
{
    color: white;
}
textarea
{
    background-color: gray;
    border: none;
    width: 350px;
    height: 60px;
    margin-top: 5px;
    padding: 5px;
}
textarea::placeholder
{
    color:white
}
.senden
{
    color: lgray;
    font-size: 12px;
}
#datenschutz{
    color: gray;
    text-decoration: underline;
    font-size: 12px;
}
button
{
    background-color: gray;
    color: white;
    margin-top: 5px;
    border: none;
    padding: 4px;
}